body{
    font-family: 'Montserrat' sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;

}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;

}
.main-content{

    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.25rem 0 1.25rem;

}
.music-player{
   background-color: black;
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 72px;
   
   
}
a{
    color: white;
    text-decoration: none;

}
.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 8px 12px;
}
.nav-option{
    line-height: 16px;
    background-color: #121212;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}
.nav-option:hover{
    
    opacity: 1;}
.nav-option i{
    font-size: 1.25rem;
}
.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}
.option{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.lib-option img{
    height: 1.25rem;
    width: 1.25rem;

}
.icon{
    font-size: 1.5rem;
    margin: 1rem;
}
.lib-option a{
    margin-left: 1rem;
}
.lib-option img{
    margin-left: 1rem;
}
.icon i{
    opacity: 0.7;
    margin-right: 1rem;
}
.icon i:hover{
    opacity: 1;
    
}
.box{
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 0.75rem 0;
    padding: 1rem 1.25rem;

}
.box-p1{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.5rem 0 0.5rem 0;
    

}
.box-p2{
    font-size: 1rem;
    opacity: 0.9;
    margin: 0.5rem 0 0.5rem 0;
}
.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    margin-top: 1.5rem;
    color: black;
    font-size: 1rem;
    font-weight: 500;

     
}
.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    z-index: 10;


}
.sticky-nav-icon{
    margin-left: 0.5rem;
}
.sticky-nav-option button{
      margin-right: 1rem;
    
}
.nav-item{
    margin-right: 1rem;
}
.dark-bag{
    background-color: black;
    color: white;
}
@media( max-width:1000px){
    .hide{
        display: none;
    }

}
.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.7rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;

}
.cards-container{
    display: flex;
    flex-wrap: wrap;


}
.card-img{
    width: 100%;
    border-radius: 0.7rem;
}
.card-title{
    font-weight: 700;
}
.card-info{
    font-size: 0.75rem;
    opacity: 0.8;
}
.card-container{
    display: flex;
}
.footer{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.line{
    width: 100%;
    height: 30%;
    border-top: 1px solid white;
    opacity: 0.4;

}
.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.album{
      width: 25%;
      display: flex;
}
.player{
    width: 50%;

}
.control{
    width: 25%;

}
.player-control-icon{
    height: 1rem;
     margin-right: 2rem;
     opacity: 0.7;
}

.player-control-icon:hover{
    
     opacity: 1;
}
.play-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.7rem;

}
.player-control{
    display: flex;
    justify-content: center;
    align-items: center;
   


}
.progress-bar{
    width: 60%;
    

}
.pictre {
    height: 60px;
    width: 60px
}
.pictre img{
    height: 100%;
    width: 100%
}
.album-info{
    height:60px;
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.album-info div{
    margin-left: 1rem;
}

.album-icon i{
    display: flex;
    margin-left: 1rem;
    
    justify-content: space-evenly;
    align-items: center;
}
.album-icon{
    display: flex;
    justify-content: space-evenly;
    
}
.a{
    font-size: 0.7rem;
    margin-top: 0.5rem;
}
.control{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
}
.progress-bar-control{
    width: 40%;
    font-size: 0.6rem;
    
}





